<div class="chat-footer-container">
  <div class="chat-input">
    <input class="chat-input__element" type="text" name="message" placeholder="Сообщение">
    <button type="submit" class="chat-input__button"></button>
  </div>
</div>
