@import '../../styles/vars.scss';

.chat {
  max-width: calc(1280px - 310px);
  width: 100%;
  height: 100%;
  display: flex;

  &__wrapper {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.empty-title {
  margin: auto;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: $gray-primary;
}
