@import '../../styles/vars.scss';

.button {
  padding: 12px 0;
  background-color: $primary-blue;
  border-radius: 8px;
  border: none;
  color: $white;
  cursor: pointer;
}

.button_text {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  color: $primary-blue;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

.button-auth {
  margin-top: 31px;
}