  <div class="chat-dropdown">
    <ul class="chat-dropdown__list">
      <li class="chat-dropdown__item">
        <div class="chat-dropdown__icon"></div>
        {{> Button btnText='btnText' label='Добавить пользователя'}}
      </li>
      <li class="chat-dropdown__item">
        <div class="chat-dropdown__icon chat-dropdown__icon_delete"></div>
        {{> Button btnText='btnText' label='Удалить пользователя'}}
      </li>
    </ul>
  </div>
  