<form class="profile-form">
  {{> ProfileInput name='oldPassword' label='Старый пароль' value='*****'}}
  {{> ProfileInput name='newPassword' label='Новый пароль' value='*******'}}
  {{> ProfileInput name='newPasswordRepeat' label='Повторите новый пароль' value='*******'}}
  {{> Button label='Сохранить' type='submit' optClass='profile-form__submit-button'}}
</form>
