<div class="profile-layout">
  {{> BackButton}}
  <section class="profile-container">
    <div class="profile-container__avatar-wrapper">
      <img src={{imageUrl}} class="profile-container__avatar"/>
    </div>
    <h1 class="profile-container__username">Иван</h1>
    {{#if userForm}}
      {{> ProfileUserForm editUser=editUser}}
      {{else}}
      {{> ProfilePasswordForm}}
    {{/if}}
    {{#if editUser}}
    {{else}}
    <ul class="profile-button-container"> 
      <li class="profile-button-container__item">
        {{> Button btnText="true" label='Изменить данные'}}
      </li>
      <li class="profile-button-container__item">
        {{> Button btnText="true" label='Изменить пароль'}}
      </li>
      <li class="profile-button-container__item">
        {{> Button btnText="true" label='Выйти' optClass='profile-button-container__logout-button'}}
      </li>
    </ul>
    {{/if}}
  </section>
</div>
{{#if openModal}}
{{> ProfileModal title="Загрузите файл"}}
{{/if}}