  {{#> AuthLayout }}
  <div class="not-fount">
    <h1 class="not-fount__title">500</h1>
    <p class="not-fount__text">Мы уже фиксим</p>
    {{> Link to="#" label="Назад к чатам"}}
  </div>
  {{/ AuthLayout }}