<div class="modal-layout">
  <div class="modal-overlay"></div>
  <div class="modal">
    <h2 class="modal__title">{{title}}</h2>
    <form action="" class="modal__form">
      <div class="modal__input-container">
        <label class="modal__input-label" for="avatar">Выбрать файл на компьютере</label>
        <input type="file" name="avatar" id="avatar" class="modal__file-input">
      </div>
      {{> Button label="Поменять" type="submit"}}
      <span class="modal__file-input-error">Нужно выбрать файл</span>
    </form>
  </div>
</div>