/* stylelint-disable scss/dollar-variable-pattern */
$primary-blue: #3369f3;
$secondary-blue: #e4edfd;
$primary-font-color: #1e1e1e;
$error-red-color: #ff2f2f;
$white: #fff;
$gray-primary: #999;
$gray-secondary: #efefef;
$gray-light: #fbfbfb;
$gray-light-secondary: #eaeaea;
