//color

$primary-blue: #3369F3;
$secondary-blue: #E4EDFD;
$primary-font-color: #1E1E1E;
$error-red-color: #FF2F2F;
$white: #FFF;
$gray-primary: #999;
$gray-secondary: #EFEFEF;
$gray-light: #FBFBFB;
$gray-light-secondary: #EAEAEA;