@import '../../styles/vars.scss';

.file-input {
  position: relative;
  margin: 0 auto 45px;

  &__input-label {
    display: flex;
    width: 122px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: $primary-blue;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
  }

  &__file-input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__file-input-error {
    display: none;
    margin: 14px auto 0;
    font-size: 11px;
    line-height: 11px;
    font-weight: 500;
    color: $error-red-color;

    &_active {
      display: block;
    }
  }
}
