<div class="search-input">
  <div class="search-input__label-wrapper">
    <div class="search-input__img"></div>
    <label for="search-chat" class="search-input__label">Поиск</label>
  </div>
  <input type="text" if="search-chat" name="message" class="search-input__element">
</div>
