<nav class="navlist">
  <ul class="links-list">
    <li>
      <a href="#" data-page="signin" class="links-list__item">Вход</a>
    </li>
    <li>
      <a href="#" data-page="signup" class="links-list__item">Региситрация</a>
    </li>
    <li>
      <a href="#" data-page="profile" class="links-list__item">Профиль</a>
    </li>
    <li>
      <a href="#" data-page="messenger" class="links-list__item">Чат</a>
    </li>
    <li>
      <a href="#" data-page="notFound" class="links-list__item">404</a>
    </li>
    <li>
      <a href="#" data-page="error" class="links-list__item">500</a>
    </li>
  </ul>
</nav>