.navlist {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;

  &__item {
    text-decoration: none;
  }
}
