@import '../../styles/vars.scss';

.input-container {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  position: relative;

  &__label {
    margin-bottom: 8px;
    font-size: 9px;
    font-weight: 500;
    line-height: 9px;
    color: $gray-primary;
  }

  &__input-element {
    padding: 0 0 7px 0;
    border: none;
    border-bottom: 1px solid $primary-blue;
    outline: none;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    color: $primary-font-color;
  }

  &__error-text {
    position: absolute;
    bottom: -14px;
    left: 0;
    font-size: 8px;
    line-height: 8px;
    color: $error-red-color;
  }
}
