<div class="messages-boards">
  <div class="messages-boards__container">
    <span class="message-date">{{date}}</span>
    <ul class="messages-list">
      {{#each messages}}
        <li class="messages-list__item {{#if this.isOwner}}messages-list__item_type_owner{{/if}}">
          <p class="messages-list__message">{{this.text}}</p>
          <span class="messages-list__message-time">{{this.time}}</span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>